/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body div.flatpickr-calendar.hasTime.animate {
	display: none;
}

div.component-main {
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px black;
}

// .checkbox {
// 	position: relative;
// 	top: -10px;
//     left: 20px;
// }
// .checkbox input {
// 	position: absolute;
// 	opacity: 0;
// 	cursor: pointer;
// }

// /* Create a custom checkbox */
// .checkmark {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 20px;
// 	width: 20px;
// 	background-color: #e8eced;
// 	border: 1px dotted #808282;
// }

// /* When the checkbox is checked, add a blue background */
// input:checked ~ .checkmark {
// 	background-color: #2196F3;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
// 	content: "";
// 	position: absolute;
// 	display: none;
// }

// /* Show the checkmark when checked */
// input:checked ~ .checkmark:after {
// 	display: block;
// }

// /* Style the checkmark/indicator */
// .checkmark:after {
// 	left: 7px;
// 	top: 4px;
// 	width: 5px;
// 	height: 10px;
// 	border: solid white;
// 	border-width: 0 3px 3px 0;
// 	-webkit-transform: rotate(45deg);
// 	-ms-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
