/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body div.flatpickr-calendar.hasTime.animate {
	display: none;
}

div.component-main {
    margin: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px black;
}
