<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
	<div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
		<i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
		<span>{{ 'Collapse Sidebar' | translate }}</span>
	</div>
	<div class="list-group">
		<div *ngFor="let menu of menuOptions; let i = index">
			<a *ngIf="!menu.children" [routerLink]="menu.route" [routerLinkActive]="['router-link-active']" class="list-group-item">
				<i [ngClass]="menu.icon"></i>&nbsp;
				<span>{{menu.title}}</span>
			</a>
			<div *ngIf="menu.children" class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass(menu.title)">
					<i [ngClass]="menu.icon"></i>&nbsp;
					<span>{{menu.title}}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === menu.title">
					<ul class="submenu">
						<li *ngFor="let subMenu of menu.children">
							<a [routerLink]="subMenu.route" [routerLinkActive]="['router-link-active']">
								<i *ngIf="subMenu.icon" [ngClass]="subMenu.icon"></i>&nbsp;
								<span>{{subMenu.title}}</span>
							</a>
						</li>
					</ul>
				</li>
			</div>
		</div>
		<div class="header-fields">
            <a class="list-group-item" [routerLink]="['/configuration']">CONFIGURATION</a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{loginUserName}}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
	</div>
</nav>
